// [1] Media Queries
$breakpoint-sizes: (
  "small": 36em,
  "medium": 48em,
  "large": 62em,
  "xlarge": 75em,
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoint-sizes, $size)) {
    @content;
  }
}

@mixin flex($main: flex-start, $cross: stretch) {
  & {
    display: flex;
    @if $main != flex-start {
      justify-content: $main;
    }
    @if $cross != stretch {
      align-items: $cross;
    }
  }
}

@mixin transform-center($x, $y) {
}
