@use "../utils" as u;

.portfolio {
  .special-heading {
    .colored {
      display: block;
    }
  }

  .projects {
    margin: u.rem(70) 0;
    display: grid;
    grid-template-rows: repeat(6, u.rem(300));
    gap: u.rem(45) u.rem(30);

    @include u.breakpoint(small) {
      grid-template-columns: repeat(2, u.rem(240));
      grid-template-rows: repeat(11, u.rem(60));
    }

    @include u.breakpoint(medium) {
      grid-template-columns: repeat(2, u.rem(295));
      justify-content: center;
    }

    @include u.breakpoint(large) {
      grid-template-columns: repeat(3, u.rem(295));
      justify-content: unset;
    }

    @include u.breakpoint(xlarge) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .project {
    border-radius: u.rem(15);
    overflow: hidden;
    background-color: #eee;
    padding: u.rem(6);
    position: relative;
    transition: var(--mid-duration);

    &:hover {
      overflow: unset;
      border-top-left-radius: unset;
      border-top-right-radius: unset;

      .text {
        opacity: 1;
        top: u.rem(-40);
        transition: var(--mid-duration);
      }
    }

    .image {
      display: block;
      border-radius: u.rem(15);
      height: 99.9%;
      overflow: hidden;
    }
    img {
      width: 100%;
    }

    .text {
      @include u.flex(space-between);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #eee;
      padding: u.rem(12);
      border-radius: u.rem(15) u.rem(15) 0 0;
      height: u.rem(40);
    }

    .title {
      color: var(--gray-color);
      font-size: u.rem(16);
    }

    .icons {
      display: flex;
      gap: u.rem(15);
    }

    .icon {
      width: u.rem(20);
    }
  }

  .project-1 {
    @include u.breakpoint(small) {
      grid-row: 1 / 5;
    }
  }

  .project-2 {
    @include u.breakpoint(small) {
      grid-row: 1 / 6;
    }
  }

  .project-3 {
    @include u.breakpoint(small) {
      grid-row: 5 / 8;
    }

    @include u.breakpoint(large) {
      grid-row: 1 / 7;
    }
  }
  .project-4 {
    @include u.breakpoint(small) {
      grid-row: 6 / 9;
    }

    @include u.breakpoint(large) {
      grid-row: 5 / 12;
    }
  }

  .project-5 {
    @include u.breakpoint(small) {
      grid-row: 8 / 12;
    }
    @include u.breakpoint(large) {
      grid-row: 6 / 12;
    }
  }

  .project-6 {
    @include u.breakpoint(small) {
      grid-row: 9 / 12;
    }
    @include u.breakpoint(large) {
      grid-row: 7 / 12;
    }
  }
}
